.frame2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame2-frame2 {
  gap: 50px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px 55px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.frame2-frame1000003242 {
  gap: 22px;
  width: 802px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.frame2-maskgroup {
  width: 186px;
  height: 179px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame2-vector {
  top: 27.36517333984375px;
  left: 21.034820556640625px;
  width: 150px;
  height: 166px;
  position: absolute;
  box-sizing: content-box;
}
.frame2-platforms {
  gap: 11.199999809265137px;
  width: 594px;
  height: 89px;
  display: flex;
  padding: 22.399999618530273px 0 0;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
}
.frame2-link {
  display: contents;
}
.frame2-icon {
  width: 90px;
  height: 90px;
  text-decoration: none;
}
.frame2-link1 {
  display: contents;
}
.frame2-icon1 {
  width: 90px;
  height: 90px;
  text-decoration: none;
}
.frame2-link2 {
  display: contents;
}
.frame2-icon2 {
  width: 90px;
  height: 90px;
  text-decoration: none;
}
.frame2-link3 {
  display: contents;
}
.frame2-icon3 {
  width: 90px;
  height: 90px;
  text-decoration: none;
}
.frame2-link4 {
  display: contents;
}
.frame2-icon4 {
  width: 90px;
  height: 90px;
  text-decoration: none;
}
.frame2-link5 {
  display: contents;
}
.frame2-icon5 {
  width: 90px;
  height: 90px;
  text-decoration: none;
}
.frame2-navmenu {
  gap: 15.534462928771973px;
  width: 645px;
  height: 132.36276245117188px;
  display: flex;
  padding: 15.534462928771973px;
  z-index: 1;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 31.068925857543945px;
  background-color: rgba(202, 202, 202, 0.25);
}
.frame2-tabmenu {
  gap: 15.534462928771973px;
  top: 15.534468650817871px;
  left: 15.534283638000488px;
  width: 299px;
  display: flex;
  padding: 23.301694869995117px 31.068925857543945px;
  position: absolute;
  flex-grow: 1;
  align-items: center;
  border-radius: 31.068925857543945px;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.frame2-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 38.836158752441406px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 54.37062072753906px;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-link6 {
  display: contents;
}
.frame2-tabmenu1 {
  gap: 15.534462928771973px;
  top: 15.534468650817871px;
  left: 330.26715087890625px;
  width: 299px;
  display: flex;
  opacity: 0.80;
  padding: 23.301694869995117px 31.068925857543945px;
  position: absolute;
  flex-grow: 1;
  align-items: center;
  border-radius: 31.068925857543945px;
  justify-content: center;
  text-decoration: none;
}
.frame2-text02 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 38.836158752441406px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 54.37062072753906px;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-intro {
  width: 780px;
  display: flex;
  z-index: 2;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.frame2-text04 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  flex-grow: 1;
  font-size: 70px;
  font-style: Bold;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-copy {
  gap: 72px;
  width: 768px;
  height: 2187px;
  display: flex;
  z-index: 3;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.frame2-column {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame2-text09 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-text11 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-column1 {
  gap: 24px;
  height: 1090px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame2-text13 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-text15 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-text17 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-buttons {
  gap: 21px;
  height: 253px;
  display: flex;
  padding: 24px 0 0;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame2-button {
  height: 48px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.frame2-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 28px;
  font-style: SemiBold;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-button1 {
  height: 48px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(245, 245, 245, 1);
}
.frame2-text21 {
  color: rgba(0, 0, 0, 1);
  width: 471px;
  height: auto;
  font-size: 28px;
  font-style: SemiBold;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-button2 {
  height: 48px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(245, 245, 245, 1);
}
.frame2-text23 {
  color: rgba(0, 0, 0, 1);
  width: 471px;
  height: auto;
  font-size: 28px;
  font-style: SemiBold;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-frame1000003241 {
  gap: 50px;
  display: flex;
  z-index: 4;
  align-items: flex-end;
}
